%h2= t('adminsimple.headers.password_change')

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), wrapper: :bootstrap3,  html: {method: :put}) do |f|
  .form-inputs
    = f.input :reset_password_token, as: :hidden
    = f.input :password, label: false, required: false, autofocus: true, placeholder: 'New Password'
    = f.input :password_confirmation, label: false, required: false, placeholder: 'Password Confirmation'

  .form-actions
    = f.button :submit, 'Change my password', class: 'btn-inverse btn-large'
    = render 'adminsimple/devise/shared/links'
