= page_header title: t('adminsimple.headers.sign_in')

%p= t('adminsimple.sign_in_prompt')

= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, label: false, required: false, autofocus: true, wrapper: :prepend do
      = f.input_field :email, placeholder: 'Email Address', input_html: { type: :email }
    = f.input :password, label: false, required: false, wrapper: :prepend do
      = f.input_field :password, placeholder: 'Password'

  .form-actions
    = f.input :remember_me, as: :boolean, wrapper: :checkbox if devise_mapping.rememberable?
    = f.button :submit, "Sign in"

= render 'adminsimple/devise/shared/links'
