!!!
%html(id="adminsimple_#{Adminsimple.configuration.themes[0]}")
  %head
    %title= t('adminsimple.site_name')
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    :javascript
      if(typeof Storage === undefined || !localStorage.theme) return;
      document.querySelector('html').setAttribute('id', "adminsimple_" + localStorage.theme);
    = stylesheet_link_tag "#{Adminsimple.configuration.app_css_overrides ? Adminsimple.configuration.app_css_overrides : 'adminsimple'}"

  %body{class: @body_class}
    = render partial: "/adminsimple/layout/navbar"
    - Adminsimple.configuration.layout.each do |partial|
      = render partial: "/adminsimple/layout/#{partial}"
    = javascript_include_tag "#{Adminsimple.configuration.app_js_overrides ? Adminsimple.configuration.app_js_overrides : 'adminsimple'}"

