!!!
%html(id="adminsimple_#{Adminsimple.configuration.theme}")
  %head
    %title= t('adminsimple.site_name')
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = render partial: "/adminsimple/layout/head"
    = stylesheet_link_tag Adminsimple.configuration.app_css_overrides || 'adminsimple'
    = javascript_include_tag Adminsimple.configuration.app_js_overrides || 'adminsimple'

  %body{class: @body_class}
    = render partial: "/adminsimple/layout/navbar"
    - Adminsimple.configuration.layout.each do |partial|
      = render partial: "/adminsimple/layout/#{partial}"

    #modal.modal.fade(tabindex="-1" role="dialog" aria-hidden="true")
