%html
  %head
    %title= t('adminsimple.site_title')
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    -# = stylesheet_link_tag 'adminsimple', "adminsimple/themes/#{Adminsimple.configuration.theme}"
    = stylesheet_link_tag 'adminsimple'
    = javascript_include_tag 'adminsimple'
  %body.sign-in

    = render partial: '/adminsimple/layout/navbar'
    #sign_in= yield
