!!!
%html(id="adminsimple_#{Adminsimple.configuration.theme}")
  %head
    %title= t('adminsimple.site_name')
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = csrf_meta_tags
    = stylesheet_link_tag Adminsimple.configuration.app_css_overrides || 'adminsimple'
    = javascript_include_tag Adminsimple.configuration.app_js_overrides || 'adminsimple'

  %body.sign-in.devise_controller
    = render partial: '/adminsimple/layout/navbar'
    #sign_in= yield
