= page_header title: "Listing #{collection_title}" do
  - if controller.respond_to?(:new)
    = modal_for "New #{resource_title}", new_resource_path, class: "btn btn-primary icon-#{resource_icon}"

= render 'list'
