= page_header title: "#{resource_title} Details" do
  - if controller.respond_to?(:edit)
    = modal_for "Edit #{resource_title}", edit_resource_path(resource), class: "btn btn-primary icon-#{resource_icon}"

= render 'details'

%hr

.row.show-actions
  .col-sm-10= content_for :actions
  - if !request.xhr? && controller.respond_to?(:destroy)
    .col-sm-2
      = link_to 'Delete', resource_path(resource), method: :delete, class: 'btn btn-danger', style: 'float:right', data: { confirm: 'Are you sure?' }
